
@{
    ViewData["Title"] = "Games";
}


<!DOCTYPE html>
<html>
<body style="background-color:black;">
</body>
</html>
<div class="topnav">
    <a class="GamesforHire" href="#home">Home</a>
    <a href="#Games">Games</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
    <input type="text" placeholder="Search..">
</div>

<h2>Games for Hire</h2>


<table>
    <tr>
        <th>Game</th>
        <th>Categorie</th>
        <th>Hireable</th>
    </tr>
    <tr>
        <td>God of war</td>
        <td>Action, Adventure</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Dark Souls</td>
        <td>Action, Adventure</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Fifa 21</td>
        <td>Sports</td>
        <td>21/09/2020</td>
    </tr>
</table>