
@{
    ViewData["Title"] = "Games";
}


<!DOCTYPE html>
<html>
<body style="background-color:black;">
    <div class="topnav">
        <a class="GamesforHire" href="#home">Home</a>
        <a href="#games">Games</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="#Signup">Signup</a>
        <input type="text" placeholder="Search..">
    </div>
</body>
</html>
 

<div class="text-left"><font color="white" size="10">Games for Hire</font></div>


<table>
    <tr>
        <th>Game</th>
        <th>Categorie</th>
        <th>Hireable</th>
    </tr>
    <tr>
        <td>God of war</td>
        <td>Action, Adventure</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>
    <a href="~/Views/Games/Gamepage.cshtml" ></a>Dark Souls</td>
        <td>Action, Adventure</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Fifa 21</td>
        <td>Sports</td>
        <td>21/09/2020</td>
    </tr>
</table>

<br />
<br />
<br />
<br />
<div class="row">
    <div class="text-left"><font color="white" size="10">Recommended Games</font></div>
    <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/cyberpunk-2077_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/dungeons-3-complete-edition_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/dungeons-3-complete-edition_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;

    <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
</div>