@model IEnumerable<GameViewModel>;
@{
    ViewData["Title"] = "Games";
}


<!DOCTYPE html>
<html>
<body style="background-color:black;">

</body>
</html>


<div class="text-left"><font color="white" size="10">Games for Hire</font></div>
<div><a asp-area="" asp-controller="Game" asp-action="GameForm">AddGame</a></div>
<div><a asp-area="" asp-controller="Ad" asp-action="CreateAd">AddAd</a></div>
<br />
<div class="row">
    <div class="table-responsive table--no-card m-b-40 ">
        <table class="table table-borderless table-striped table-earning" id="myTable">
            <thead>
                <tr>

                    <th>@Html.DisplayNameFor(model => model.GameName)</th>
                    <th>@Html.DisplayNameFor(model => model.Category)</th>
                    <th>@Html.DisplayNameFor(model => model.Discription)</th>
                    <th>@Html.DisplayNameFor(model => model.Hireable)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<br />
<br />
<br />
<br />
<div class="row">
    <div class="text-left"><font color="white" size="10">Recommended Games</font></div>
    <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/cyberpunk-2077_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/dungeons-3-complete-edition_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
    <img src="~/images/dungeons-3-complete-edition_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;

    <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
    &nbsp;
    &nbsp;
    &nbsp;
</div>