@using BCrypt.Net;
@using LPProject2.Controllers;
 <!DOCTYPE html>
<html>
<body style="background-image:url(https://www.designyourway.net/diverse/darkpat/COLOURlovers.com-Grey_Background.jpg);">



     
    per for slides -->


    <img src="~/images/God of war.jpg" alt="God of War" class="center-block" style=" width:1000px; height: 563px">
    <div class="text-center"><font color="white" size="22"> Hire now for 20% off!!</font></div>


    <!-- Left and right controls -->

    <br />
    <br />
    <br />
    <br />
    <div class="text-left"><font color="white" size="10">Recommended Games</font></div>
    <div class="row">

        <br />
        <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
        &nbsp;
        &nbsp;
        &nbsp;
        <img src="~/images/cyberpunk-2077_medium.webp" alt="Mountains" height="200" width="125">
        &nbsp;
        &nbsp;
        &nbsp;
        <img src="~/images/dungeons-3-complete-edition_medium.webp" alt="Mountains" height="200" width="125">
        &nbsp;
        &nbsp;
        &nbsp;
        <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
        &nbsp;
        &nbsp;
        &nbsp;
        <img src="~/images/dungeons-3-complete-edition_medium.webp" alt="Mountains" height="200" width="125">
        &nbsp;
        &nbsp;
        &nbsp;

        <img src="~/images/dying-light-2_medium.webp" alt="Mountains" height="200" width="125">
        &nbsp;
        &nbsp;
        &nbsp;
    </div>
    <div><h1> @{string schijt = BCrypt.HashPassword("henk123");
    }@schijt</h1></div>
    
</body>
</html>
