
@{
    ViewData["Title"] = "Signup";
}

 
<h2>Signup</h2>

    
    <button type="button" class="btn btn-primary btn-lg btn-block" asp-controller="User" asp-action="SignupPage">I am an costumer</button>
    
    
